################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GarageManagementApp/.vs/GarageManagementApp/FileContentIndex/0ebff968-ac69-43fa-b54c-08000c9780b1.vsidx
